@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

* {
  box-sizing: border-box;
}

.ul{    //商品欄の並び方や位置の設定
    margin-top: 22%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: left;

    .li {   
        font-family: Montserrat, sans-serif;
        padding: 1rem;
        display: grid;
        grid-template-columns: repeat(auto-fit, 15rem);
        gap: 2rem;
        
    }

    .item {
        border-radius: 10px;
        position: relative;
        height: 10rem;
        background-color: lightGrey;
        overflow-y: hidden;
        box-shadow: 0.1rem 0.1rem 1rem rgba(0, 0, 0, 0.1);
        scroll-behavior: smooth;
    }

    
    //値段を表示するCSSを設定する
    .box{
        margin-left: 60%;
        width: 40%;
        height: 15%;
        border-radius: 20px;
        background: linear-gradient(to bottom, #dddddd, #cccccc);
        .price{
            margin-left: 20%;
            z-index: 3;
            overflow-y: hidden;
        }
    }
    //商品名の設定を行う
    h3 {
        color: #fff;
        font-size: 14px;
        height: 35%;
        //margin-top: 0;
        display: block;
        background-color: #20B2AA;
        padding: 0.3rem;
        transform: translate3d(0, -100%, 0);
        transition: transform 300ms;
    }
    //商品名をホバーした際に下から出てくる画面の設定
    .a1 {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        
        &:hover,
        &:focus {
        > .item__overlay {
            transform: translate3d(0, 0, 0);
            
            h3 {
            transform: translate3d(0, 0, 0);
            }
            
            .item__body {
            opacity: 1;
            }
        }
        }
    }
    
    .img {
        width: 100%;
        height: 100%;
        display: block;
        object-fit: cover;
    }
    //下から出てくる画面の設定
    .item__overlay {
        height: 100%;
        position: absolute;
        width: 100%;
        transition: transform 300ms;
        background-color: lighten(#fff, 15%);
        transform: translate3d(0, 100%, 0);
        
    }
    .item__body {
        flex-grow: 1;
        padding: 0.2rem;
        opacity: 0;
        transition: opacity 500ms 100ms;
        p {
            line-height: 1;
            margin: 0;
            font-size: 12px;
        }  
    }
    
    //商品リスト内のリンクボタンの位置やサイズを変更する
    .list_bottom{
        display: flex;
        .bt{
            //padding: 0.2rem;
            margin-left: -2%;
            margin-bottom: 0%;
            transform: scale(0.7,0.7);
        }
    }
    
}